---
import Base from "@blog/Layouts/Base/Base.astro";
import Navbar from "@blog/ui/Navbar/Navbar.astro";
import ThemeChange from "@blog/components/ThemeChange.astro";
import Footer from "@blog/ui/Footer/Footer.astro";
import Hero from "@blog/ui/Hero/Hero.astro";

export interface Props {
    title?: string;
    desc?: string;
}

const { title, desc } = Astro.props as Props;
---

<Base title={title} desc={desc}>
    <div
        id="app"
        class="flex flex-col items-center h-screen bg-slate-100 dark:bg-transparent overflow-auto"
    >
        <div class="w-full flex-grow">
            <Navbar>
                <ThemeChange />
            </Navbar>
            <Hero
                bg="https://tva2.sinaimg.cn/large/9bd9b167gy1g4lhr9rjs5j21hc0xcx63.jpg"
            />
            <div class="p-4 pb-10 max-w-3xl mx-auto">
                <slot />
            </div>
        </div>
        <Footer />
    </div>
</Base>
