@import "./prism.scss";
@import "./typoggraphy.scss";

html,
body {
    scroll-padding-top: 55px; /* set to the height of your header */
}

.astro-code {
    border-radius: 0.5rem;
    padding: 1rem;
}

@mixin ellipsis($lines: 1) {
    @if ($lines==1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $lines;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
    }
}
.over1line {
    @include ellipsis(1);
}
.over3line {
    @include ellipsis(2);
}
@screen md {
    .over3line {
        @include ellipsis(3);
    }
}

.clip_left {
    clip-path: polygon(0 0, 100% 0, 94% 100%, 0 100%);
}

.clip_right {
    clip-path: polygon(6% 0, 100% 0, 100% 100%, 0 100%);
}

// ::-webkit-scrollbar {
//   display: none;
// }

/*---滚动条默认显示样式--*/
::-webkit-scrollbar-thumb {
    height: 50px;
    outline-offset: -2px;
    outline: 2px solid #fff;
    -webkit-border-radius: 4px;
    border: 2px solid #fff;
}

/*---鼠标点击滚动条显示样式--*/
::-webkit-scrollbar-thumb:hover {
    height: 50px;
    -webkit-border-radius: 4px;
}

/*---滚动条大小--*/
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

/*---滚动框背景样式--*/
::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
}

::-webkit-scrollbar-track {
    background-color: #eee;
} /* 滚动条的滑轨背景颜色 */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
} /* 滑块颜色 */
::-webkit-scrollbar-button {
    background-color: #eee;
} /* 滑轨两头的监听按钮颜色 */
::-webkit-scrollbar-corner {
    background-color: black;
} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */

.img-wrapper{
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


@mixin over-grid($alpha: 0.2){
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-image: url(/grid.svg);
        z-index: -1;
        opacity: $alpha;
        filter: invert(1);
    }
}

@mixin shadow-rainbow() {
    &::after {
        background-image: radial-gradient(at 27% 37%, #3a8bfd 0, transparent 50%),
            radial-gradient(at 97% 21%, #9772fe 0, transparent 50%),
            radial-gradient(at 52% 99%, #fd3a4e 0, transparent 50%),
            radial-gradient(at 10% 29%, #5afc7d 0, transparent 50%),
            radial-gradient(at 97% 96%, #e4c795 0, transparent 50%),
            radial-gradient(at 33% 50%, #8ca8e8 0, transparent 50%),
            radial-gradient(at 79% 53%, #eea5ba 0, transparent 50%);
        position: absolute;
        content: '';
        z-index: -1;
        width: 100%;
        height: 100%;
        filter: blur(100px) saturate(150%);
        top: 50%;
        left: 50%;
        opacity: 0.2;
        transform: translateZ(0) translateY(-50%) translateX(-50%);
    }
}

.over-grid{
    position: relative;
    @include over-grid(.5);
    &::after{
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        box-shadow:0 0 50px 25px #f1f5f9 inset;
    }
    @media screen and (max-width:750px) {
        &::before{
            background-image: none;
        }
        &::after{
            box-shadow: none;
        }
    }
}
.shadow-rainbow{
    @include shadow-rainbow();
    @include over-grid();
}