@charset "UTF-8";
/**文章样式**/
@font-face {
    font-family: "Cascadia Mono";
    src: url("/CascadiaMono-Regular.woff2") format("woff2");
}
// $color: #4f46e4;
$color: rgb(234, 88, 12);
$linght-color: rgba(234, 88, 12, 0.2);

.typography{
    .dark &{
        color: #ddd;
    }
}

.dark .typography p {
    color: rgba(255, 255, 255, 0.84);
}
.dark .typography blockquote p {
    color: inherit !important;
}

.typography {
    color: #2c2e3b;
    font-size: 16px;
    line-height: 1.5;
    font-family: "CustomFonts", Inter, "Noto Sans SC", "Microsoft YaHei",
        sans-serif;
}
.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
    font-weight: 900;
    margin-bottom: 1rem;
    line-height: 1.6;
    font-family: "CustomFonts", "Noto Serif SC", "Microsoft YaHei",
        sans-serif;
}
.typography h1,
.typography h2,
.typography h3 {
    word-break: break-word;
    font-size: 1.25rem;
}
.typography h1 {
    margin-top: 1.5rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid #ececec;
}
.typography h2 {
    border-left: 4px solid $color;
    padding-left: 0.75rem;
    margin-bottom: 0.75rem;
    margin-top: 1rem;
}
.typography h3,
.typography h4 {
    position: relative;
    padding-left: 1.5rem;
}
.typography h3::before {
    content: "";
    position: absolute;
    top: 0.9rem;
    left: 6px;
    height: 6px;
    width: 6px;
    border-radius: 20px;
    background-color: $color;
}
.typography h4 {
    font-size: 1.05rem;
}
.typography h4::before {
    content: "";
    position: absolute;
    top: 0.65rem;
    left: 10px;
    height: 6px;
    width: 6px;
    border-radius: 20px;
    border: 1px solid $color;
}
.typography a:not(.btn):not(.stretched-link) {
    display: inline-block;
}
.typography a:not([data-fslightbox]):not(.btn):not(.stretched-link) {
    text-decoration: none;
    color: $color;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    padding: 0 3px;
    word-break: break-all;
}
.typography a:not([data-fslightbox]):not(.btn):hover {
    background: $linght-color;
}
.typography ol,
.typography ul {
    margin: 20px 0 20px 25px;
}
.typography ul ul li {
    list-style-type: circle;
}
.typography ol li {
    list-style: decimal;
}
.typography li {
    list-style: disc;
    margin-left: 1.5rem;
    line-height: 36px;
}
.typography img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
    margin: 0 auto;
    cursor: pointer;
}
.typography p:not(.friend-content) {
    position: relative;
    margin: 0 0 0.5em 0;
    color: inherit;
    line-height: 2.2;
}
.typography del {
    background-color: #fbb;
    color: rgba(85, 85, 85, 0.8);
    text-decoration: none;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 20%,
        rgba(0, 0, 245, 0) 0,
        transparent 75%,
        rgba(0, 0, 0, 0.8) 76%
    );
    background-position: 0 0.36em;
    background-repeat: repeat-x;
    background-size: 1px 6px;
}
.typography blockquote p {
    color: inherit;
}
.typography blockquote:not(.cuteen-blockquote) {
    display: block;
    margin: 0 0 20px;
    position: relative;
    line-height: 1.2;
    padding-left: 2.5rem;
}
.typography blockquote:not(.cuteen-blockquote)::before {
    content: "“";
    position: absolute;
    left: 0;
    top: 7px;
    margin-top: -1rem;
    z-index: 0;
    font-family: Georgia, serif;
    font-size: 4rem;
    font-weight: bold;
    color: $linght-color;
}

.typography mjx-container[jax="SVG"]{
    display: inline-block;
    vertical-align: middle;
}
.typography mjx-container[jax="SVG"][display="true"] svg{
    margin: 0 auto;
}

// .typography code {
//     border-radius: 0.25rem;
//     background-color: #fff5f5;
//     color: #ff502c;
//     font-size: 14px;
//     padding: 0.1em 0.4em;
//     margin: 0 4px;
//     font-family: "Cascadia Mono", "Noto Sans SC", sans-serif;
//     white-space: break-spaces;
// }
.typography pre {
    margin-bottom: 10px;
}
.typography .code-toolbar {
    margin: 1em 0;
}
.typography hr {
    height: 1px;
    margin: 32px 0;
    border: 0;
    background-color: #ebf1f8;
}
.typography kbd {
    margin: 0 0.2em;
    padding: 0.15em 0.4em 0.1em;
    font-size: 90%;
    background: rgba(150, 150, 150, 0.06);
    border: 1px solid rgba(100, 100, 100, 0.2);
    border-bottom-width: 2px;
    border-radius: 3px;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
        monospace;
}
.typography table {
    table-layout: fixed;
    border-top: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    width: 100%;
    border-radius: 0.25rem 0.25rem 0 0;
    border-collapse: separate;
    border-spacing: 0;
    margin: 1rem 0;
}
.typography table thead > tr > th {
    position: relative;
    color: #000000d9;
    font-weight: 500;
    text-align: left;
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;
}
.typography table tbody > tr > td {
    border-bottom: 1px solid #f0f0f0;
}
.typography table thead > tr > th,
.typography table tbody > tr > td {
    border-right: 1px solid #f0f0f0;
    position: relative;
    padding: 16px;
    overflow-wrap: break-word;
}
