---
import { siteInfo } from "@blog/config";
import BlogSingle from "@blog/Layouts/BlogSingle.astro";
---

<BlogSingle title="404" desc="">
    <main class="max-w-4xl mx-auto mt-[55px]" style="text-align: center;font-size: 25px;">
        该界面不存在，请重试
    </main>
</BlogSingle>
