---
import { siteInfo } from "@blog/config";
import BlogSingle from "@blog/Layouts/BlogSingle.astro";
---

<BlogSingle title="来一杯卡布奇诺" desc="">
    <main class="max-w-4xl mx-auto">
        <div class="mt-[20px]">
            首页尚未建设，计划做成个人信息界面，详情请移步<a
                class="px-[5px] color-red-900"
                href="/post">博客界面</a
            >
        </div>
    </main>
</BlogSingle>
