---
import BlogPage from "@blog/Layouts/BlogPage.astro";
import SearchInput from "@blog/ui/SearchInput/SearchInput.astro";
---

<BlogPage hero="/bg.jpg" heroPosition="center">
    <main>
        <SearchInput />
    </main>
</BlogPage>
