---
---

<script src="/ShaderProgram.js" is:inline></script>
<script src="./main.js"></script>
<style>
    #snow {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        /* background-color: #0f2027;
        background-image: linear-gradient(to bottom, #0f2027, #080e10); */
    }
</style>
<div id="snow"></div>
