---
import BaseHead from "@blog/components/BaseHead.astro";
import { siteInfo } from "@blog/config";

export interface Props {
  title?: string;
  desc?: string;
  icon?: string;
}

const { title, desc, icon } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang={siteInfo.lang}>
  <head>
    <BaseHead
      title={title || siteInfo.siteName}
      desc={desc || siteInfo.siteDesc}
      icon={icon || siteInfo.icon}
    />
    <slot name="head" />
    <!-- https://giscus.app/zh-CN -->
    <script is:inline src="https://giscus.app/client.js"
        data-repo="npmrun/art-blog"
        data-repo-id="R_kgDOH218pQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOH218pc4CRCN1"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
</head>
<body class="dark:brightness-[.65]">
    <slot />
    <script src="/theme-change.js" is:inline></script>
</body>
</html>
