---
import BaseHead from "@blog/components/BaseHead.astro";
import { siteInfo } from "@blog/config";

export interface Props {
  title?: string;
  desc?: string;
  icon?: string;
}

const { title, desc, icon } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang={siteInfo.lang}>
  <head>
    <BaseHead
      title={title || siteInfo.siteName}
      desc={desc || siteInfo.siteDesc}
      icon={icon || siteInfo.icon}
    />
    <slot name="head" />
    <!-- 2222222 -->
    <script src="/gitalk.min.js" is:inline></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <script is:inline>
        window.gitalk = new Gitalk({
            clientID: 'cfb684e450a5b24c7c69', //Client ID
            clientSecret: 'd82afb2ab59ec7ce194ef291a0c9e0a7fa5a5179', //Client Secret
            repo: 'art-blog',//仓库名称
            owner: 'npmrun',//仓库拥有者
            admin: ['npmrun'],
            id: location.href,      // Ensure uniqueness and length less than 50
            distractionFreeMode: false  // Facebook-like distraction free mode
        })
    </script>
</head>
<body class="dark:brightness-[.65]">
    <slot />
    <script src="/theme-change.js" is:inline></script>
</body>
</html>
